<div class="mt-1">
    <div class="row ">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#" style="margin-left: 40px;">ABC Shopping</a>
                <div style="margin-left: 150px;">
                    <form method="GET">
                        <div class="input-group m-2">
                            <input type="search"  name='item_name' class="form-control" placeholder="Search for products" style="width: 350px";>
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="margin-left: 250px;">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" id="cart" data-html="true" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                        sagittis lacus vel augue laoreet rutrum faucibus.">
                        <i class="bi bi-cart4"></i>(0)
                        </button>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>